
/* Class Selectors */
.takeanyname {
    background-color: pink;
    font-size: 20pt;
}


.newname {
    font-family: 'Courier New', Courier, monospace;
}

/* Id selectors */
#paraid {
    background-color: yellow;
}

/* Attribute selector */
input[disabled] {
    width: 300px;
    background-color: teal;
}

/* universal selector */
* {
    background-color: cyan;
}